<html>

	<header>

		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

		<style>
			
			body {
				margin: 1em;
				font-family: 'Lato', sans-serif;
				position: relative;
				line-height: 1.4em;
				padding-top: 4em;
			}

			main {
				max-width: 690px;
				margin: auto;
			}

			ul {
				padding-left: 0;
			}

			h1 {
				border-bottom: solid 1px #ccc;
				font-size: 20px;
				line-height: 1.6em;
			}

			h2 {
				color: #999;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 100;
				margin-bottom: 0;
			}

			.margin-bottom {
				margin-bottom: 1em;
			}

			.column {
				width: calc(50% - 2em);
			}

			h3,
			p {
				color: #222;
				margin-bottom: 0;
				margin-top: .5em;
				font-size: 14px;
			}

			h3 {
				font-size: 16px;
			}

			a {
				color: #131517;
				text-decoration: none;
			}

			a.dark {
				color: #333;
			}

			.text-right {
				text-align: right;
			}

			.flex {
				display: flex;
				justify-content: space-between;
			}

			.skils_list {
				list-style: none;
				padding: 0;
			}

			.skils_list li {
				padding: 0;
				font-size: 14px;
				display: flex;
				justify-content: space-between;
			} 

			section {
				margin-bottom: 2em;
			}

			small {
				color: #999;
				font-size: 12px;
			}

			.rating {
				margin-top: 2px;
				margin-right: 1em;
				padding: 0;
				display: flex;
			}

			.rating li {
				border: solid 1px #999;
				margin: 5px;
				list-style: none;
				height: 5px;
				width: 5px;
				border-radius: 50%;
				position: relative;
				overflow: hidden;
				background: white;
			}

			.rating::before {
				content: "";
				position: absolute;
				width: 75px;
				border-bottom: solid 3px #999;
				margin-top: 7px;
				z-index: 0;
				margin-left: 5px;
			}

			.rating.note-1 li:nth-child(1) { background: #999; }

			.rating.note-2 li:nth-child(1) { background: #999; }
			.rating.note-2 li:nth-child(2) { background: #999; }

			.rating.note-3 li:nth-child(1) { background: #999; }
			.rating.note-3 li:nth-child(2) { background: #999; }
			.rating.note-3 li:nth-child(3) { background: #999; }

			.rating.note-4 li:nth-child(1) { background: #999; }
			.rating.note-4 li:nth-child(2) { background: #999; }
			.rating.note-4 li:nth-child(3) { background: #999; }
			.rating.note-4 li:nth-child(4) { background: #999; }

			.rating.note-5 li:nth-child(1) { background: #999; }
			.rating.note-5 li:nth-child(2) { background: #999; }
			.rating.note-5 li:nth-child(3) { background: #999; }
			.rating.note-5 li:nth-child(4) { background: #999; }
			.rating.note-5 li:nth-child(5) { background: #999; }*/


		</style>

	</header>

	<body>

		<main>

			<h1>Daniel Mendes de Oliveira</h1>

			<div class="flex">

				<div class="column">
					
					<!-- Profile -->
					<section>
						<h2>Profile</h2>
						<p>
							FrontEnd developer with an eye for good UI/UX. Multidisciplinary coder specialized in Javascript.
						</p>
					</section>
					<!-- END Profile -->

					<!-- Education -->
					<section>
						<h2>Education</h2>
						<h3>Faculdade de Tecnologia Termomecanica</h3>
						<small>(2006-2009) São Bernardo do Campo - Brazil</small>
						<p>
						Bachelor of computer science.
						</p>
					</section>
					<!-- END Education -->

					<!-- Experience -->
					<section>
						<h2>Experience</h2>
						<h3>Web Developer <small>(2007) Santo Andre - Brazil</small></h3>
						<p class="margin-bottom">
							Initial job as a web developer. Web core development .NET 2.0, web UI development, Sql Server, Jquery Json/xml, architecture design, code generation with codeDom and t4 templates.
						</p>

						<h3>DoNoos <small>(2009) Santo Andre - Brazil</small></h3>
						<p class="margin-bottom">
							Web UI and background development, time strategy plan, SQL database, windows azure, Ajax with jQuery.
						</p>

						<h3>DooIt <small>(2010) Santo Andre -  Brazil</small></h3>
						<p class="margin-bottom">
							Company that was eventually aquired by Boxfish.
						</p>
						<p class="margin-bottom">
							Outsourcing software development to companies in Brazil, UK and USA (Boxfish). Having mobile and web technologies as the main field.
						</p>

						<h3>Motilo <small>(2010) London - UK</small></h3>
						<p class="margin-bottom">
							Leader developer at motilo, delegating tasks and developing software using the newest technologies of the time, such as mvc 2, latest Jquery version, windows azure, and microsoft cloud storage.
						</p>

						<h3>Boxfish <small>(2011) San Francisco - USA</small></h3>
						<p class="margin-bottom">
							Head of front end development.
						</p>
					</section>
					<!-- END Experience -->

				</div>

				<div class="column">

					<!-- Skills -->
					<section>
						<h2>Skills</h2>
						<ul class="skils_list">
							<li>Javscript/Node.js/Jquery
								<ul class="rating note-5">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</li>
							<li>
								CSS & HTML
								<ul class="rating note-5">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</li>
							<li>
								GIT
								<ul class="rating note-4">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</li>
							<li>
								SASS & SCSS
								<ul class="rating note-5">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</li>
							<li>
								Docker
								<ul class="rating note-3">
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</li>
						</ul>

						<small>
							Notable mentions: Data visualization with d3.js, React.js, Enzyme, solid knowledge of relational database modeling,
							realtime web applications.
						</small>

					</section>
					<!-- END Skills -->

					<!-- Achievements -->
					<section>

						<h2>Achievements</h2>

						<p>Brazilian Company Aquisition.</p>
						<small>
							(2011) DooIt Software aquired by Mixaroo (dba Boxfish). 
						</small>

						<p>Business Insider mention.</p>
						<small>
							(2012)  <a href="http://www.businessinsider.com/best-indie-app-developers-2012-11?op=1">http://www.businessinsider.com/best-indie-app-developers-2012-11?op=1</a>
						</small>

						<p>Setup of European HQ.</p>
						<small>
							(2015) Opened European HQ for Boxfish in Dublin, Ireland. 
						</small>
						
					</section>
					<!-- END Achievements -->

					<!-- Contact -->
					<section>
						<h2>Contact</h2>

						<ul>
							<li>
								<a class="dark" href="mailto:dmo.daniel@gmail.com">dmo.daniel@gmail.com</a>
							</li>
							<li>
								<a class="dark">+1 (650) 557 8430</a>
							</li>
						</ul>
					</section>
					<!-- END Contact -->

					<!-- Web -->
					<section>
						<h2>On The Web</h2>

						<ul>
							<li>
								<a class="dark" href="https://www.linkedin.com/in/daniel-oliveira-48167416"/>
									www.linkedin.com/in/daniel-oliveira-48167416
								</a>
							</li>

							<li>
								<a class="dark" href="https://www.linkedin.com/in/daniel-oliveira-48167416"/>
									twitter.com/DanielDMO
								</a>
							</li>
							<li>
								<a class="dark" href="https://www.linkedin.com/in/daniel-oliveira-48167416"/>
									github.com/danieldmo
								</a>
							</li>
						</ul>
					</section>
					<!-- END Web -->

				</div>

			</div>

		</main>

	</body>

</html>